# Python
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local configuration
config.py
catalog.json

# Logs
*.log

custom_components/windhager_infowin/data/*.json